---
import { materia } from '../../../data/instances/materia';
import Layout from '../../../layouts/Layout.astro'
import AbilityIcons from '../../../components/AbilityIcons.astro';
import ATBBar from '../../../components/ATBBar.astro';
import MateriaImage from '../../../components/MateriaImage.astro';
import RarityStars from '../../../components/RarityStars.astro';

export async function getStaticPaths() {
  return Object.values(materia).map((materia) => ({
    params: { materiaId: materia.id, stars: materia.stars },
    props: { selectedMateria: materia }
  }));
}

const { selectedMateria } = Astro.props;
const container = 'p-3 bg-[#051629] rounded-md border-3 border-[#193d62]';
---

<Layout title={`${selectedMateria.name} - FFVIIEC`} highlightedRoute="Materia">
  <div class="flex flex-col gap-2 max-w-360 m-auto">
    <div class="flex flex-wrap justify-center gap-5">
      <div class={`${container} flex flex-1 min-w-68 text-lg`}>
        <div class="flex flex-1 flex-col gap-2">
          <div>
            <div class="flex">
              <div class="flex flex-col">
                {selectedMateria.name}
                <div class="flex flex-nowrap">
                  <RarityStars stars={selectedMateria.stars} size="24px" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-col gap-5">
        <MateriaImage materia={selectedMateria} size="large" />
      </div>
      <div class={`${container} flex flex-1 min-w-68 text-lg`}>
        <div class="flex flex-1 flex-col gap-2">
          <div>
            <span class="text-[#95c7ff] text-2xl">C. Ability</span>
            <hr class="h-0.75 mt-1 mb-4 border-none bg-[#95c7ff]" />
            <div class={container}>
              <div class="flex gap-2">
                <AbilityIcons commandAbility={selectedMateria.commandAbility} element={selectedMateria.element} />
                <div class="flex flex-col flex-1">
                  {selectedMateria.commandAbility.name}
                  <div class="flex justify-end">
                    <ATBBar cost={selectedMateria.commandAbility.atbCost} />
                  </div>
                </div>
              </div>
              <hr class="h-0.5 my-1.5 border-none bg-[#2e435c]" />
              <span set:html={selectedMateria.commandAbility.description.replace(/\n/g, '<br />')} />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
