---
import { Image } from 'astro:assets';
import { routes } from '../data/instances/routes';
import Layout from '../layouts/Layout.astro';
import ffviiec from '../assets/ffviiec.png';
import DiamondAnchor from '../components/DiamondAnchor.astro';
---

<Layout>
	<div class="flex flex-1 flex-col gap-[1.5rem] items-center justify-center overflow-clip">
		<Image
		  src={ffviiec}
			alt="FINAL FANTASY VII EVER CRISIS"
			width={562}
			class="animate-fadeinfromleft text-transparent"
		/>
		<h1 class="text-center animate-fadeinfromright">
			This site is not affiliated with or endorsed by SQUARE ENIX or Applibot, Inc.
			<br />
			All rights to the assets and content used belong to their respective owners.
			<br />
			© SQUARE ENIX Powered by Applibot, Inc.
		</h1>
		<div class="flex flex-wrap justify-center gap-12.5 px-5 pt-5 pb-13.5">
			{Object.values(routes).map((route, index) => (
				<DiamondAnchor
				  href={route.path}
					imgSrc={route.imgMetadata}
					imgAlt={route.title}
					className="animate-fadeinfromtop"
					style={{
						animationFillMode: 'backwards',
						animationDelay: `0.${index}s`
					}}
				/>
			))}
		</div>
	</div>
</Layout>
