---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import ffviiec from '../assets/ffviiec.png';
import DiamondAnchor from '../components/DiamondAnchor.astro';
import weaponsIcon from '../assets/_ui/icon/common/enhance.png';
import gearIcon from '../assets/_ui/icon/common/wear_battle.png';
import materiaIcon from '../assets/_ui/icon/common/materia.png';

const routes = [
  { path: '/weapons', name: 'Weapons', imgSrc: weaponsIcon, imgAlt: 'Weapons', isDisabled: false },
  { path: '/gear', name: 'Gear', imgSrc: gearIcon, imgAlt: 'Gear', isDisabled: false },
  { path: '/materia', name: 'Materia', imgSrc: materiaIcon, imgAlt: 'Materia', isDisabled: true }
];
---

<Layout>
	<div class="flex flex-1 flex-col gap-[1.5rem] items-center justify-center overflow-hidden">
		<Image
		  src={ffviiec}
			alt="FINAL FANTASY VII EVER CRISIS"
			width={562}
			class="animate-fadeinfromleft text-transparent"
		/>
		<h1 class="text-center animate-fadeinfromright">
			This site is not affiliated with or endorsed by SQUARE ENIX or Applibot, Inc.
			<br />
			All rights to the assets and content used belong to their respective owners.
			<br />
			© SQUARE ENIX Powered by Applibot, Inc.
		</h1>
		<div class="flex flex-wrap justify-center gap-5 pb-10 animate-fadeinfromtop">
			{routes.map((route) => (
				<DiamondAnchor href={route.path} imgSrc={route.imgSrc} imgAlt={route.imgAlt} disabled={route.isDisabled} />
			))}
		</div>
	</div>
</Layout>
