---
import { home, routes } from '../data/instances/routes';
---

<nav class="sticky top-0 z-[99] flex flex-col flex-shrink-0 gap-2 h-screen p-[8px_0_8px_8px]">
  <a href="/" class="flex items-center p-2 bg-[#08325e] rounded-sm border-2 border-[#155197] outline-2 outline-[#155197] -outline-offset-6 hover:bg-[#08325e] hover:border-[#2164ab] hover:outline-[#2164ab] transform active:scale-95 transition duration-100">
    <img
      src={`data:image/png;base64,${home.img32x32base64}`}
      alt={home.title}
    />
  </a>
  <ul class="bg-[#23232380] rounded-md h-full overflow-hidden">
    {Object.values(routes).map((route) => (
      <li>
        <a
          href={route.path}
          class="flex items-center justify-center px-2 py-3 hover:bg-[#33333380] transform active:scale-95 transition duration-100"
          style={{ background: Astro.url.toString().endsWith(route.path) ? 'radial-gradient(circle at right,rgb(11,64,136) 0%,transparent 100%)' : undefined }}
        >
          <img
            src={`data:image/png;base64,${route.img32x32base64}`}
            alt={route.title}
          />
        </a>
      </li>
    ))}
  </ul>
</nav>
