---
import { Image } from 'astro:assets';
import { characters } from '../data/instances/characters';
import { elements } from '../data/instances/elements';
import { sigils } from '../data/instances/sigils';

interface Props {
  characterCheckboxClass?: string;
  elementCheckboxClass?: string;
  sigilCheckboxClass?: string;
}

const { characterCheckboxClass, elementCheckboxClass, sigilCheckboxClass } = Astro.props;

const characterImages = import.meta.glob<{ default: ImageMetadata }>('../assets/character_btn/*.png');
const elementImages = import.meta.glob<{ default: ImageMetadata }>('../assets/_ui/icon/attribute/*.png');
const sigilImages = import.meta.glob<{ default: ImageMetadata }>('../assets/_ui/icon/sign/*.png');
---

<div
  class="flex flex-col gap-2 p-2 overflow-x-scroll sticky self-center top-18 bg-[#23232380] backdrop-blur-md rounded-md z-1"
  style={{ maxWidth: 'calc(100vw - 76px)' }}
>
  {characterCheckboxClass && (
    <div class="flex flex-nowrap justify-center gap-1 min-w-max">
      {Object.values(characters).map((character) => (
        <label class="l-chr w-10 h-10 flex-none">
          <input type="checkbox" value={character.name} hidden class={characterCheckboxClass} />
          <Image
            src={characterImages[`../assets/character_btn/${character.id}.png`]()}
            class="w-full h-full object-cover p-1"
            width={50}
            height={50}
            alt={character.name}
          />
        </label>
      ))}
    </div>
  )}
  {(elementCheckboxClass || sigilCheckboxClass) && (
    <div class="flex justify-center gap-2 min-w-max">
      {elementCheckboxClass && (
        <div class="flex flex-nowrap justify-center gap-1">
          {Object.values(elements).map((element) => (
            <label class="l-chr w-10 h-10 flex-none">
              <input type="checkbox" value={element.name} hidden class={elementCheckboxClass} />
              <Image
                src={elementImages[`../assets/_ui/icon/attribute/${element.icon}.png`]()}
                class="w-full h-full object-cover p-1"
                width={50}
                height={50}
                alt={element.name}
              />
            </label>
          ))}
        </div>
      )}
      {sigilCheckboxClass && (
        <div class="flex flex-nowrap justify-center gap-1">
          {Object.values(sigils).map((sigil) => (
            <label class="l-chr w-10 h-10 flex-none">
              <input type="checkbox" value={sigil.name} hidden class={sigilCheckboxClass} />
              <Image
                src={sigilImages[`../assets/_ui/icon/sign/${sigil.icon}.png`]()}
                class="w-full h-full object-cover p-1"
                width={50}
                height={50}
                alt={sigil.name}
              />
            </label>
          ))}
        </div>
      )}
    </div>
  )}
</div>

<style>
  .l-chr {
    cursor: pointer;
    border: 2px solid #394d60;
    border-radius: 2px;
    outline: 2px solid #394d60;
    outline-offset: -6px;
    transition: scale .1s;
    &.selected {
      background: #032950;
      border-color: #2c80d7 !important;
      outline-color: #2c80d7 !important;
    }
    &:hover {
      border-color: #5574aa;
      outline-color: #5574aa;
    }
    &:active {
      scale: .95;
    }
  }
  label {
    background-color: #1a1a1a;
  }
</style>
