---
import type { ImageMetadata } from 'astro';
import type { ReinforcementAbility } from '../data/classes/ReinforcementAbility';
import { Image } from 'astro:assets';

interface Props {
  reinforcementAbility: ReinforcementAbility;
  width?: number;
  height?: number;
}

const { reinforcementAbility, width, height } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>('../assets/passiveskill/*.png');
---

<div
  style={{
    width: width ? `${width}px` : undefined,
    height: height ? `${height}px` : undefined
  }}
  class="a"
>
  <Image
    class="animate-imageload"
    src={images[`../assets/passiveskill/${reinforcementAbility.id}.png`]()}
    alt={reinforcementAbility.name}
    width={width}
    height={height}
  />
</div>

<style>
  .a {
    background: #182d39;
    border: 2px solid #108a9c;
    flex: none;
    width: 1.5rem;
    height: 1.5rem;
  }
</style>
