---
import type { ImageMetadata } from 'astro';
import type { Weapon } from '../data/classes/Weapon';
import { Image } from 'astro:assets';
import unfixImage from '../assets/_ui/icon/common/unfix.png';

interface Props {
  weapon: Weapon;
  size: 'normal' | 'large';
  class?: string;
  hoverable?: boolean;
  clickable?: boolean;
  width?: number;
  height?: number;
}

const { weapon, size, class: className, hoverable, clickable, width, height } = Astro.props;
const imagesNormal = import.meta.glob<{ default: ImageMetadata }>(`../assets/weapon/*.png`);
const imagesLarge = import.meta.glob<{ default: ImageMetadata }>(`../assets/weapon_l/*.png`);
const normalImage = weapon.id ? imagesNormal[`../assets/weapon/${weapon.id}.png`]() : unfixImage;
const largeImage = weapon.id ? imagesLarge[`../assets/weapon_l/${weapon.id}.png`]() : unfixImage;
---

<div
  class:list={{
    'p-5': !weapon.id,
    [className ?? '']: !!className,
    'h': hoverable,
    'c': clickable
  }}
>
  <Image
    src={
      size === 'normal' ? normalImage :
      size === 'large'  ? largeImage  :
                          normalImage
    }
    alt={weapon.name}
    width={width}
    height={height}
    class="animate-imageload"
  />
</div>

<style>
  div {
    --border-color: #155197;
    position: relative;

    &::after,
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      pointer-events: none;
    }

    &::before {
      background: #04101e radial-gradient(circle, #0a68a8, #0a68a8fc 4.86%, #0a68a8f3 9.3%, #0a68a8e4 13.5%, #0a68a8d2 17.4%, #0a68a8bd 21.18%, #0a68a8a5 25%, #0a68a88c 28.26%, #0a68a873 31.74%, #0a68a85a 35%, #0a68a842 38.82%, #0a68a82d 42.6%, #0a68a81b 46.5%, #0a68a80c 50.7%, #0a68a803 55.14%, #0a68a800 60%);
    }

    &::after {
      border: .375rem double var(--border-color);
      border-radius: .25rem;
    }

    &.h:hover {
      --border-color: #2164ab;
    }

    &.c:active {
      scale: .95;
    }
  }
</style>
